.forms {
    display: flex;
    justify-content: center;
    margin: 80px 24px;
    gap: 24px;
}

.forms form {
    width: 60%;
    border-radius: 20px;
    padding: 33px 96px;
    background-color: #F6F6F6;
}